doctype html
html
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name='keyword' content="AI, MachineLearning, ML, DeapLearning, Python, Data, Data Science, Data analyst, Data Scientist, Database, Bigdata")
        meta(name='description' content='My Study Idea Chest')
        meta(name='author' content='Park seonghun')
        title &lt; Pat's Head Blog &gt;
        link(rel='stylesheet' type='text/css' href='/style.css')
        script(src='/javascript.js')
    body
        header
            a(href="/")
                h1 PAT HEAD BLOG
            span#time

        main
            aside ONLINE<br>CHATTING
                #aside_button &gt;
                #aside_content
                #aside_chatting
            #window
                nav
                    ul.list
                        li Study 
                            ul.contents
                                li 
                                    a.menu(href="/menu/study/computer") Computer
                                li
                                    a.menu(href="/menu/study/statistics") Statistics
                                li
                                    a.menu(href="/menu/study/math") Math
                                li
                                    a.menu(href="/menu/study/ai") AI
                                li
                                    a.menu(href="/menu/study/data technology") DT
                        li Rest
                            ul(class="contents")
                                li
                                    a.menu(href="/menu/rest/free") Free!
                                li
                                    a.menu(href="/menu/rest/game") Game
                                li 
                                    a.menu(href="/menu/rest/life") Life
                                li 
                                    a.menu(href="/menu/rest/style") Style
                                li 
                                    a.menu(href="/menu/rest/trip") Trip
                        li
                            a.menu(href="/drive") My Drive
                        li
                            a.menu(href="/inf") MY Inf.
                article
                    - var description
                        if typeof(description)==="object"
                            p.title= title
                            ul
                                each i in description
                                    li
                                        a(href=title+"/"+i)=i

                        else if title=="Title."
                            form(action="write" method="post" name='write' id="write")
                                .form_title
                                    h3.title= title
                                    p= description
                                .form_contents
                                    p
                                        input#title(type='text' name='title')
                                    p
                                        input#description(type='text' name='description')
                                    p
                                        input#path(type='text' name='path' value='' readonly)
                                        select#topic
                                            option(value="") - Option -
                                            option(value="study") Study
                                            option(value="rest") Rest
                                        select#field(class="hidden")
                                            option(value="") - Option -
                                        select#subject(class="hidden")
                                            option(value="") - Option -
                                    p
                                        input(type='submit' id="submit")
                        else
                            p.title= title
                                span.time= time
                            p.description= description
                a(href="/write")
                    #write_button write
        footer
            h2 web info.
            address
                p &copy; copyright all right reserved.
                a(href='mailto:seonhun120614@gmail.com') seonhun120614@gmail.com
        #modal
            #modal_window 
                form(action='login' method='post' name='login')
                p Login : 
                    input#id(name="id" type="text")
                p PassW : 
                    input#pw(name="pw" type="password")