doctype html
html
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name='keyword' content="AI, MachineLearning, ML, DeapLearning, Python, Data, Data Science, Data analyst, Data Scientist, Database, Bigdata")
        meta(name='description' content='My Study Idea Chest')
        meta(name='author' content='Park seonghun')
        title &lt; Pat's Head Blog &gt;
        link(rel='stylesheet' type='text/css' href='/style.css')
        script(src='/javascript.js')
    body
        header
            a(href="/")
                h1 PAT HEAD BLOG
        main
            aside ONLINE<br>CHATTING
                div(id='aside_button') &gt;
                div(id='aside_content')
                div(id='aside_chatting')
            div(id='window')
                nav
                    ul(class='list')
                        li Study 
                            ul(class="contents")
                                li 
                                    a(class="menu" href="/menu/study/computer") Computer
                                li
                                    a(class="menu" href="/menu/study/statistics") Statistics
                                li
                                    a(class="menu" href="/menu/study/math") Math
                                li
                                    a(class="menu" href="/menu/study/ai") AI
                                li
                                    a(class="menu" href="/menu/study/data technology") DT
                        li Rest
                            ul(class="contents")
                                li
                                    a(class="menu" href="/menu/rest/free") Free!
                                li
                                    a(class="menu" href="/menu/rest/game") Game
                                li 
                                    a(class="menu" href="/menu/rest/life") Life
                                li 
                                    a(class="menu" href="/menu/rest/style") Style
                                li 
                                    a(class="menu" href="/menu/rest/trip") Trip
                        li
                            a(class="menu" href="/drive") My Drive
                        li
                            a(class="menu" href="/inf") MY Inf.
                article
                    - var description
                        if typeof(description)==="object"
                            h3= title
                            each i in description
                                p(class="description")
                                    a(href=`/menu/${topic}/${title}/${i}`)= i
                                hr
                        else if title=="Title."
                            br
                            form(action="uploads" method="post")
                                p
                                    h3= title
                                        input(id="title" type="text" name="title" placeholder="Title")
                                p= description
                                    textarea(id="description" name='description' placeholder="Contents")
                                p
                                    input(type='submit' id="submit")
                        else
                            h3= title
                            p(class="description")= description
                a(href="/write")
                    div(id='write') write
        footer
            h2 web info.
            address
                p &copy; copyright all right reserved.
                a(href='mailto:seonhun120614@gmail.com') seonhun120614@gmail.com
        